<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/js/post.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.5/jsmediatags.min.js" referrerpolicy="no-referrer"></script>    
    <title>Songs</title>
</head>
<body>
    <nav class="topbar">
        <%- include ('navbar.ejs') %>
    </nav>
    <p style="text-align: center;">Take a listen!</p>
    
    <div  style="text-align: left;">
        <% allPost.forEach(function(post) { %>
            <div class="YTurl">
                <%= post.uploader %>
                <marquee behavior="scroll" direction="left" class="song"><%= post.originalName %> 
                    by <%= post.artist %></marquee>
                <hr id="titlebreak">
                <% if (post.uploadType === 1) {%>
                    <% let url = post.musicPath.split("=") %>
                    <%url = url[1] %>
                    <% link = "https://www.youtube.com/embed/" + url %>
                    <iframe width="430" height="315" src= "<%=link%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    
                <% } else { %>
                    <div>
                        <audio controls id="audio">
                            <source src="<%= post.musicPath%>">
                        </audio>
                        <div id="cover" class="cover"path="<%= post.musicPath%>"></div>
                        
                        <b>comment</b>
                        <form id="message" action="post/message">
                            <input type="text" name="message" size="60">
                            <input type="submit" value="send">
                        </form>
                    </div>
                <% } %>
                <br>
                <br>
                <% like = "/post/" + post.musicID + "/like"%> 
                <form action = <%= like %> method="POST" id="likePost">
                    <input name="submit" type="image" src="./images/heart.png" onclick="buttonColor()" id="heart" path=<%=post.postID%>  >
                </form>
            </div>
        <% }) %>
    <!-- link only reads until v= if URLs-->
        <!-- <img src="./images/album.jpeg" class="album"> -->
        <!-- <button class="ignore" type="submit"><img src="./images/play.png" id="play"></button> -->

    </div>
</body>
</html>