<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="/js/post.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.5/jsmediatags.min.js" referrerpolicy="no-referrer"></script>    
    <title>Songs</title>
</head>
<body>
    <nav class="topbar">
        <%- include ('navbar.ejs') %>
    </nav>
    <p style="text-align: center;">Take a listen!</p>
    
    <div  style="text-align: left;">
        <% allPost.forEach(function(post) { %>
            <div class="YTurl">
                <%= post.uploader %>
                <marquee behavior="scroll" direction="left" class="song"><%= post.originalName %> 
                    by <%= post.artist %></marquee>
                <hr id="titlebreak">
                <% if (post.uploadType === 1) {%>
                    <% let url = post.musicPath.split("=") %>
                    <%url = url[1] %>
                    <% link = "https://www.youtube.com/embed/" + url %>
                    <iframe width="430" height="315" src= "<%=link%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <a href="/post/<%=post.musicID%>" class="comments">View comments</a>
                <% } else { %>
                    <div>
                        <a href="/post/<%=post.musicID%>"><div id="cover" class="cover" path="<%= post.musicPath%>"></div></a>
                        <audio controls id="audio">
                            <source src="<%= post.musicPath%>">
                        </audio>
                    </div>
                <% } %>
                <br>
                <br>
                <% if (post.liked) { %>
                    <input likeCheck="true" class="button"  path="<%=post.musicID%>" name="submit" type="image" src="/images/heart-like.png" id="heart">
                <%} else { %>
                    <input likeCheck="false" class="button" path="<%=post.musicID%>" name="submit" type="image" src="/images/heart.png" id="heart">
                <% }%> 
            </div>
        <% }) %>
    <!-- link only reads until v= if URLs-->
        <!-- <img src="./images/album.jpeg" class="album"> -->
        <!-- <button class="ignore" type="submit"><img src="./images/play.png" id="play"></button> -->

    </div>
</body>
</html>