<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/recommendation.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/recommendation.js" defer></script>
    <title>Recommendation New Song for you!</title>
</head>
<body>
    <nav class="topbar">
        <%- include ('navbar.ejs') %>
    </nav>
    <img style="width:50px"class="pfp" src="<%= user.pfpPath %>">
    <div class="pfp-wrapper">

    <div class="post" style="text-align: center;">
        <h1 id="username" value="user.username"> Let's get started, <%= user.username %>!</h1>
        <p style="line-height: 100%;">We hope that you like this music!!!</p>
        <hr>
        <div class="content">

            <p style="line-height: 100%;">This is the sample musics: Rock, Hiphop and Classic</p>
            
            <p>This is the random sample music</p>

            <p>
                <button id="play">Play</button>
                <button id="pause">Pause</button>
                <button id="stop">Stop</button>
            </p>
            <script>
                // start
                window.addEventListener("load", ()=>{
                    // get audio
                    // const audio = new Audio("music/rock/sample1.mp3");

                    const playlist=[
                    "music/rock/sample1.mp3",
                    "music/rock/sample2.mp3", 
                    "music/hiphop/sample1.mp3", 
                    "music/hiphop/sample2.mp3",
                    "music/classic/sample1.mp3", 
                    "music/classic/sample2.mp3" 
                    ]
                    /* audio object */
                    const myaudio = new Audio(playlist);
                    myaudio.src = playlist[Math.floor(Math.random()*playlist.length)];
                 
                    // get botton
                    const play = document.getElementById("play");
                    const pause = document.getElementById("pause");
                    const stop = document.getElementById("stop");
                 
                    // play
                    play.addEventListener("click", ()=>{
                        myaudio.play();
                    });
                 
                    // pause
                    pause.addEventListener("click", ()=>{
                        myaudio.pause();
                    });
                 
                    // stop
                    stop.addEventListener("click", ()=>{
                        myaudio.pause();
                        myaudio.currentTime = 0;  // to move to start 
                    });
                });
            </script>
            
            <marquee behavior="scroll" direction="left" class="song"><%= music.originalName %> 
                by <%= music.artist %></marquee>
            <hr id="titlebreak">
            <% if (music.uploadType === 1) {%>
                <% let url = music.musicPath.split("=") %>
                <%url = url[1] %>
                <% link = "https://www.youtube.com/embed/" + url %>
                <iframe width="430" height="315" src= "<%=link%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <% } else { %>
                <div>
                    <audio controls id="audio">
                        <source src="<%= music.musicPath%>">
                    </audio>
                </div>
            <% } %>

            <p style="line-height: 100%;">Do you like this music?</p>
            <p style="line-height: 100%;">★=hate, ★★=dislike, ★★★=normal</p>
            <p style="line-height: 100%;">★★★★=like, ★★★★★=love</p>
            <div class="rate-form">
                <form id="recommendationForm" method="post">
                    <div>
                    <input id="star5" type="radio" name="rate" value="5">
                    <label for="star5">★</label>
                    <input id="star4" type="radio" name="rate" value="4">
                    <label for="star4">★</label>
                    <input id="star3" type="radio" name="rate" value="3">
                    <label for="star3">★</label>
                    <input id="star2" type="radio" name="rate" value="2">
                    <label for="star2">★</label>
                    <input id="star1" type="radio" name="rate" value="1">
                    <label for="star1">★</label>
                    </div>
                    <input id="preference" type="submit" value="rate">
                </form>
            </div>
            <script>
                const value = document.getElementById("recommendationForm");
                console.log(value);
            </script>
            
        </div>
        <div id = "errors"></div>
    </div>
    
</body>
</html>