<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/fileUpload.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/fileUploadTest.js" defer></script>
    <title>Upload New Song!</title>
</head>
<body>
    <nav class="topbar">
        <a href="main.html">Home</a>
        <a href="/uploadSong">Upload</a>
        <a href="#page1">Playlist</a>
        <a href="#myAccount">Account</a>
        <a href="logout.html" style="float: right">Logout</a>
    </nav>

    <h1> Hello <%= user.username %>!</h1>
    <p>Upload a new song</p>
    <!-- <img style="width:50px"class="pfp" src="<%= user.pfpPath %>"> -->
    <!-- <div class="pfp-wrapper">
        <form action="/users/<%= user.userID %>/pfp" method="POST" enctype="multipart/form-data">
            <span>Set profile picture:</span>
            <input type="file" name="pfp" required>
            <button>Submit</button>
        </form>
    </div> -->
    <select name="choice" id="choice-select">
        <option value="">--Please choose an option--</option>
        <option value="file">Upload File</option>
        <option value="link">Upload URL</option>
    </select>
    <div class="file-wrapper" style="display:None;">
        <form action="/users/<%= user.userID %>/file" method="POST" enctype="multipart/form-data">
            <input id="name" type="text" name="name" placeholder="Song title" required>
            <input id="genre" type="text" name="genre" placeholder="genre" required>
            <span>Upload music:</span>
            <input type="file" name="music">
            <button>Submit</button>
        </form>
    </div>
    <div class="link-wrapper" style="display:None;">
        <form action="/users/<%= user.userID %>/link" method="POST">
            <input id="name" type="text" name="name" placeholder="Song title" required>
            <input id="genre" type="text" name="genre" placeholder="genre" required>
            <input id="artist" type="text" name="artist" placeholder="artist" required>
            <input id="path" type="text" name="path" placeholder="Enter URL" required>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>